// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// login page queries---------------------------------
@media screen and (min-width: 650px) {
  .add{
  display:block;
}
  
  .off{
  display:none;
  }
  
.thirds{
 width:49%;
 }
  
  .form-signup{
    width:40%;
  }




// profile page----------------------------------

  .header-color{
      
           h1{
             float:left;
             font-size:5em;
             color:green;
             }
         }



button{
   margin-top:8px;
   }

.profile-img{
      width:23%;
   /* margin-left:9.5%;*/
    }

.profile-bio{
    display:block;
    clear:none;
    width:40%;
    }

     .matches-likes{
     clear:none;
     float:left;
     width:31.5%;
    
     }

   .questions-section{
   	   width:65%;
       }


    .profile-bio{
  
      p{
      	min-height:100px;
      	

      	
        }
  }
































}/*end of 600 querie  */


@media screen and (min-width: 1050px) {
  .add{
    display:inline-block
    }
  
  .thirds{
    width:32%;
    }
  
   .form-signup{
    width:25%;
  }
  } /* end of 750 querie */

  // profile page queries---------------------------------


