// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// login page queries---------------------------------
@media screen and (min-width: 550px) {
  .add{
  display:block;
}
  
  .off{
  display:none;
  }
  
.thirds{
 width:49%;
 }
  
  .form-signup{
    width:40%;
  }

.delete{
   display:none;

}
  .profile-img{
   width:100%;
  

  
  img{
      background-size:cover;
      width:30%;
      margin:0 auto;



    display:block;
  }
}


// .matches{

    
//    img{
      
//        width:60%;

//            }
// }













.move{
    font-size:1.3em;
    max-height:500px;

}































}/*end of 600 querie  */


@media screen and (min-width: 900px) {
  .add{
    display:inline-block
    }
  
  .thirds{
    width:32%;
    }
  
   .form-signup{
    width:25%;
  }


  .profile-img{
  width:18%;
    img{
     background-size:cover;
      width:100%;
       margin:0 auto;
       }
}

.matches-section{
	width:46%;
	border-radius:5px;
	  p{
       padding-bottom:17px;

	  }




}


.move{
	display:none;
}

.delete-h2{
	display:none;
}


.bio{
display:block;



.col5{
   	width:46%;
   	top:15px;

   }

}

.bringback{
	display:block;
}






} /* end of 750 querie */

  // profile page queries---------------------------------


