@mixin grid ($col-num){
  width: ($col * $col-num)+($gut * (($col-num)-1));
  margin-right: $gut;
}

/*vars */

$col:6.5%;
$gut:2%;


.col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9,.col12 {
        // margin:0 auto;
        box-sizing: border-box;
        /*background:green;*/
        // width:100%;
        float:left;
         // padding: 5px;
        /* margin-bottom: 5px; */
       }

  

  .col2 {
  @include grid(2);
      min-height:20px;
      
  }
  .col3 {
  @include grid(3);

   min-height:20px;
  }
  .col4 {
  @include grid(4);
  // background:purple;
   min-height:275px;
  }
  .col5 {
  @include grid(5);
  // background:orange;
   
  }
  .col6 {
  @include grid(6);
   min-height:20px;
   // background:pink;
  }
  .col7 {
  @include grid(7);
  min-height:20px;
  }
  .col8 {
  @include grid(8);
  // min-height:200px;
      min-height:20px;
  
  
  }
  .col9 {
  @include grid(9);
  }
  .col12{
  @include grid(12);


  } 
  div:last-of-type {
  margin-right: 0;
  }

h1{
  font-size:2.0em;
  font-family:arial;
  text-align:center;
}