/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "reset";

@import "mixins";




  // header login starts here-----------------------------------

.header-color{
     background:red;
 
        .form-login {
          float:right;
          padding-bottom:25px;
          margin-left:4%;

            input{
              width:20%;
              margin-top:20px;
              margin-right:3%;
              }
             }
            }


// body color---------------------------------------------------
.body-color{
 background-color:pink;
 // height:510px;
  }



// main sign up form starts here--------------------------------
.form-signup {
  margin:35px auto;
  border: 1px solid #c6c7cc;
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color:green;
  overflow: hidden; 
  width: 100%;

.sign-up-info {
  padding: 20px 20px 0 20px;

    label {
     color: #395870;
     display: block;
     font-weight: bold;
     margin-bottom: 20px;
     }

    input {
     border-radius: 5px;
     font: 14px/1.4 "Helvetica Neue", Helvetica,
     Arial, sans-serif;
     min-width:100%;
     color: #636466; 
     padding: 6px; 
     margin-top: 6px; 
     }
    }

.signup-bottom {
  background: #f0f0f2;
  border-top: 1px solid #c6c7cc;
  padding: 20px;

    .btn {
     background: linear-gradient(#49708f, #293f50);  
     border: 0;
     color: #fff;
     cursor: pointer;
     font-weight: bold;
     padding: 8px 16px;
     width:90%;
     display:block;
     margin:0 auto;
    }
  }
}

// bottom section of thirds-------------------------------

.thirds{
   background-color:rgb(249,245,221);
   width:100%;


img{
  border-radius:100px;
  display:block;
  margin:30px auto;
  }

}


.delete{
  display:none;
  }

// starting of profile page----------------------------------

.border{
    border-radius:10px;

}


// header----------------------------------------------------
.header-color{
      
      h1{
          float:left;
          padding-top:16px;
          padding-bottom:16px;
          }
         }



button{
   margin-top:24px;
   }


  .button-right{
    float:right;
    margin-right:58px;
    }

// img and bio---------------------------------------------

h2{
   text-align:center;


}
.delete{
  display:none;
  }

.profile-img{
  // background:yellow;
  width:100%;
  min-height: 265px;

  
  img{
    // background-size:cover;
     // margin:0 auto;
     width:100%;

    display:block;
  }
}

.color{
   background:black;
  
}


.profile-bio{
  background:pink;
  clear:both;
  width:100%;


      p{
      	line-height:1.4;
      	font-size:1.25em;
        }
}

// matches and likes---------------------------------------------


.matches-likes{
   height:200px;
   background:red;
   width:100%;
}

// question section---------------------------------------------


.questions-section{
	  width:100%;





}






 




































@import "mediaqueries";




