/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "reset";

@import "mixins";


p{
 color:#999;
 text-align:center;

}

h2{
    text-align:center;
   color:#62E0FF;
   font-size:1.7em;
}

h3{
  color:#999;
  text-align: center;


}




  // header login starts here-----------------------------------

.header-color{
     background:#1C1C1C;
     border:1px solid #3D3D3D;
 
        .form-login {
          float:right;
          padding-bottom:25px;
          margin-left:4%;
          color:white;
               button{
                 float:right;
                 margin-bottom:20px;
                 margin-right:15px;



               }

            input{
              width:20%;
              margin-top:20px;
              margin-right:3%;
              }
             }
            }


// body color---------------------------------------------------

.body-color{
 background-color:#252527;
  }

.logo{
	margin-top:20px;
	h1{
       font-size:3em;
       color:#fff;
       }

    span{
    	background-image: asset-url("heartbeat.png");
    }
}

.btn{
	margin-top:20px;
}







// main sign up form starts here--------------------------------
.form-signup {
  margin:35px auto;
  border: 1px solid #3D3D3D;
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  background:#454545;
  background:linear-gradient(#4d4d4d, #2f2f2f);
  overflow: hidden; 
  width: 80%;

.sign-up-info {
  padding: 20px 20px 0 20px;

    label {
     color: #999;
     display: block;
     font-weight: bold;
     margin-bottom: 20px;
            


     }

    input {
     border-radius: 5px;
     font: 14px/1.4 "Helvetica Neue", Helvetica,
     Arial, sans-serif;
     min-width:100%;
     color: #636466; 
     padding: 6px; 
     margin-top: 6px;
     background:#f0f0f2;
      }
    }

.signup-bottom {
  background: #f0f0f2;
  border-top: 1px solid #c6c7cc;
  padding: 20px;

    .btn {
     background: linear-gradient(#49708f, #293f50);  
     border: 0;
     color: #fff;
     cursor: pointer;
     font-weight: bold;
     padding: 8px 16px;
     width:100%;
     display:block;
     margin:0 auto;
    }
  }
}

// bottom section of thirds-------------------------------

.thirds{
   background-color:#19191B;
   width:100%;


img{
   // border-radius:5px;
  display:block;
  margin:30px auto;
  width:80%;
  }

}


.delete{
  display:none;
  }

// starting of profile page----------------------------------

.border{
     border-radius:10px;

}


// header----------------------------------------------------
header{
    background:#1C1C1C;
    border:1px solid #3D3D3D;
    float:left;
    width:100%;
        button{
        	float:right;
        }


      h1{
          float:left;
          padding-top:16px;
          padding-bottom:16px;
          color:white;
          }
         


 button{
   margin-top:24px;
   margin-right:20px;
   }
}

 
// img and bio---------------------------------------------


.left-align{
	text-align:left;
}


.delete{
  display:none;
  }

.profile-img{
   width:100%;
   	 background:#19191B;
   	 margin-top:20px;
           img{
             background-size:cover;
             border-radius:5px;
             width:35%;
             display:block;
             float:left;
             }
            }

.move{
    bottom:20px;
    display:block;
    float:left;
    width:60%;
    max-height:200px;
    text-align: left;
    margin-left:10px;
    }


.matches-section{
	width:100%;
	 background:#19191B;
	 margin-top:20px;
     }

.matches{
    width:32%;
      img{
       display:block;
       margin:0 auto;
       border-radius:5px;
       width:80%;
       }
      }


.bio{
	.col3{
     width:18%;
     }
    }

 .col5{
 	width:100%;
 	position:relative;
 	bottom:100px;
    }

.questions-section{
     margin-top:20px;
     background:#1C1C1C;
     }



.messages{
    margin-top:10px;
	width:100%;
	display:none;

} 





































@import "mediaqueries";




