<!DOCTYPE html>
<html>
<head>
  <title>Pair Programming</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  <div id='container'>

  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
