<!DOCTYPE html>
<html>
<head>
  <title>Pair Programming</title>

<%= stylesheet_link_tag 'application', media: 'all' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="//use.typekit.net/qxl1fti.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  
</head>
<body>
  <div id='container'>

  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
